body {
  text-align: center;
  margin:auto;
  font-family: 'Courgette', cursive;
}
/**
.top {
  background-color: #b4e9e2;
  color: #309286;
  width: 200px;
  height: 200px;
  padding: 20px;
  border:solid 10px;
}

.middle {
  background-color: red;
  width: 200px;
  height: 200px;
  margin-left: 260px;
  border:solid 20px;
}

.bottom {
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin-left: 500px;
  border:solid 10px;
}
**/
h1 {
  margin-top: 0;
  font-size: 5.625rem;
}

h3{
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 0.5px;
}

.top-container{
  background-color: #b4e9e2;
}

.middle-container{
text-align: center;
}

img{
  width: 75%;
  height: 75%;
  position: relative;
}

.img1{
  width: 20%;
  height: 30%;
  position: absolute;
  top: 250px;
  left: 250px;
}

.img2{
  width: 20%;
  height: 20%;
  position: relative;
  top: 70px;
  left: 250px;
}

span{
  display: inline-block;
}

.profile2{
  width: 20%;
  height: 20%;
  position: relative;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto; /* Misalnya miring*/
  text-align: left;
  line-height: 2;
}

.profile12{
  width: 20%;
  position: relative;
  float: left;
  margin-right: 30px;
}

.profile11{
  width: 20%;
  position: relative;
  float: right;
  margin-right: 30px;
}
